AZURE_AD_CLIENT_ID=your-azure-ad-client-id
AZURE_AD_CLIENT_SECRET=your-azure-ad-client-secret
AZURE_AD_TENANT_ID=your-azure-ad-tenant-id

NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_URL_INTERNAL=http://localhost:3000/

NEXT_PUBLIC_API_URL=https://api.example.com/
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Security Configuration
NEXT_PUBLIC_SWA_CUSTOM_HEADER=racmc-gpt-secure

GENERATE_SOURCEMAP=false

NEXT_PUBLIC_BLOB_ACCOUNT_NAME=your-blob-account-name
NEXT_PUBLIC_BLOB_CONTAINER=your-blob-container